
/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) { 
  
    /* header start */  
  .menu ul li a{
    padding: 0 0 !important;
    text-align: right;
   
  }
    /*header end */
    /* slider part start */
    .slider {
      padding-bottom: 70px;
  }
  .carousel-indicator2 {
    bottom: -65px;
}
.carousel-indicator2 li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}
.slider_content {
  margin-top: 15px;
}
.slider_content h1 {
  font-size: 25px;
}
.slider_content h2 {
  margin: 10px 0;
}
.slider_icon li i {
  font-size: 30px;
  margin-right: 10px;
}
.slider_img img{
      display: none;
 }
 /*slider part end */
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
 /* header start */
  .menu ul li a{
    padding: 0 0 !important;
    text-align: right;
   
  }
    /*header end */
  /* slider part start */
  .slider {
    padding-bottom: 70px;
}
.carousel-indicator2 {
  bottom: -65px;
}
.carousel-indicator2 li {
width: 11px;
height: 11px;
border-radius: 50%;
}
.slider_content {
margin-top: 15px;
}
.slider_content h1 {
font-size: 25px;
}
.slider_content h2 {
margin: 10px 0;
}
.slider_icon li i {
font-size: 30px;
margin-right: 10px;
}
.slider_img img{
    display: none;
}
/*slider part end */
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
   /* header start */
  .menu ul li a{
    padding: 0 0 !important;
    text-align: right;
   
  }
 /*header end */
/* slider part */
.slider_content {
  margin-top: 15px;
}
.slider_content h2 {
  margin: 10px 0;
}
.slider_content p {
  margin-bottom: 12px;
}
/* slider part end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}